.theme{
	background-color: #312D2D;
    color: white;
    text-align: center;
}

.shadow-box{
  box-shadow:  8px 8px rgba(0,0,0,0.19),  8px 8px rgba(0,0,0,0.23);
	padding: 10px;
}

.text-shadow{
  text-shadow: 4px 4px 2px black;
}



hr{
	border-top: 3px solid;

}

.fa{
	font-size: 30px;
	text-align: center;
	text-decoration:none;
}

.jumbotron{
	background: content-box;
}

a:link{
  color: white;
}

a:visited{
	color: white;
}

a:hover{
  color: #D64343 !important;
}

a:active{
	color: #D64343;
}

#top{
	color: white !important;
}

#mobile{
	display: none;
}

.display-1{
	overflow: hidden;
}


@media only screen and (max-width: 600px){
	.display-1{
		display: none;
	}

	#mobile{
		display:inline-block;
		overflow: hidden;
	}

	.shadow-box{
		box-shadow: none;
	}


}

