.background{
	background-color: #312D2D;
}

hr{
	border-top: 3px solid;

}

.fa{
	font-size: 30px;
	text-align: center;
	text-decoration:none;
}

.jumbotron{
	background: contain;
}

.display-1{
	overflow: hidden;
}