.theme{
	background-color: #312D2D;
    color: white;
    text-align: center;
}

hr{
	border-top: 3px solid;

}

.fa{
	font-size: 30px;
	text-align: center;
	text-decoration:none;
}

.jumbotron{
	background: content-box;
}

#mobile{
	display: none;
}

.display-1{
	overflow: hidden;
}


@media only screen and (max-width: 600px){
	.display-1{
		display: none;
	}

	#mobile{
		display:inline-block;
		overflow: hidden;
	}
}






